body {
  margin: 0;
}
#map {
  height: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.inputs-area {
  padding: 15px 5px;
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
}

.inputs-area form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.map-area {
  flex: 1 1 auto;
}
